.super-mario{
    width: 200px;
    position: absolute;
}

.goomba{
    width: 150px;
    position: absolute;
    top: 400px;
}

.baloon{
    width: 200px;
    position: absolute;
    left: 350px;
    z-index: 1;
}

.bowser{
    width: 400px;
    position: absolute;
    left: 500px;
}

.word{
    width: 200px;
    position: absolute;
    top: 100px;
    left: 370px;
    z-index: 2;
}